@use '../../App';


.altBody {
  margin-top: 140px;
  width: 100%;
}

.usersBox {
  margin: 50px 60px 0 60px;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 29px;
}

@media (max-width: 768px) {
  .usersBox {
    grid-template-columns: repeat(2, 1fr);
    margin: 50px 36px 0 36px;
  }
}

@media (max-width: 360px) {
  .usersBox {
    grid-template-columns: 1fr;
    margin: 50px 16px 0 16px;
  }
}


h1 {
  @include App.HFont;
  margin-top: 100px;
  text-align: center;
  align-items: center;
}

.buttonBox {
  margin-top: 50px;
  align-items: center;
  text-align: center;
}