@use '../../App';

.userBox {
  align-items: center;
  text-align: center;
  background: white;
  min-height: 254px;
  width: 282px;
  @include App.bodyFont
}

.userBox img {
  border-radius: 50%;
  margin-top: 20px;
}

.userName {
  margin: 20px 0 20px 0;
  text-align: center;
  align-items: center;
  overflow: hidden
}

.userName p {
  overflow: hidden
}

.userEmail {
  overflow: hidden;
}