@use '../../App';

@mixin userNameMain {
  margin-top: 20px;
  text-align: center;
  align-items: center;
}

@mixin overflowText {
  justify-content: center;
  align-items: center;
  padding: 3px 16px;
  display: none;
  border-radius: 5px;
  background: black;
  color: white;
  position: absolute;
  overflow-wrap: anywhere;
  max-width: 250px;

}

.userBox {
  align-items: center;
  text-align: center;
  background: white;
  min-height: 254px;
  max-width: 100%;
  @include App.bodyFont
}

.userBox img {
  border-radius: 50%;
  margin-top: 20px;
}

.fullUserName {
  @include App.bodyFont;
  @include overflowText;
}

.userName {
  @include userNameMain;
}

.overflowUserName {
  @include userNameMain;
}

.overflowUserName:hover +.fullUserName {
  display: flex;
}

.userPosition {
  margin-top: 20px;
}

.fullEmail {
  @include App.bodyFont;
  @include overflowText;
}

.userEmail {
  @include App.bodyFont;
}

.overflowUserEmail {
  @include App.bodyFont;
}

.overflowUserEmail:hover + .fullEmail {
  display: flex;
}



